<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap" rel="stylesheet">
    <!-- Css -->
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <div id="app" class="container">

      <!-- Aside -->
      <aside class="aside">

        <!-- Top-aside -->
        <div class="top-aside">
          <div class="my-user">
            <img :src="'./img/avatar' + user.avatar + '.jpg'"
                 :alt="user.name"
            >
            <span>{{ user.name }}</span>
          </div>
            <ul class="list-icon-aside">
              <li>
                <a href="#"><i class="fas fa-circle-notch"></i></a>
              </li>
              <li>
                <a href="#"><i class="fas fa-comment-alt"></i></a>
              </li>
              <li>
                <a href="#"><i class="fas fa-ellipsis-v"></i></a>
              </li>
            </ul>
        </div>

        <!-- Center-aside -->
        <div class="center-aside">
          <div class="bell">
              <a href="#"><i class="fas fa-bell-slash"></i></a>
          </div>
          <div class="notification">
            <span>Ricevi notifiche di nuovi messaggi</span>
            <a class="slash" href="#">Attiva notifiche desktop</a>
          </div>
        </div>

        <!-- Bottom-aside -->
        <div class="bottom-aside">
          <div class="search">
            <input type="text" placeholder="Cerca o inizia una nuova chat"
                   v-model="searchUser"
                   @keyup="findContacts"
            >
            <i class="fas fa-search"></i>
          </div>
          <li v-for="(contact,index) in contacts" class="users"
              :class="indexUser == index ? 'active' : ''"
              v-show="contact.visible"
              @click="orderUser(index)"
          >
            <img :src="'./img/avatar' + contact.avatar + '.jpg'" :alt="contact.name">
            <span>{{ contact.name }}</span>
        </div>
      </aside>

      <!-- Main content -->
      <main class="main-messages">

        <!-- Top-main -->
        <div class="top">
          <div class="text-user">
            <img :src="'./img/avatar' + contacts[indexUser].avatar + '.jpg'" :alt="contacts.avatar">
            <div class="text-online">
              <span>{{ contacts[indexUser].name }}</span>
              <small>Ultimo accesso {{contacts[indexUser].lastAccess}}</small>
            </div>
          </div>
          <ul class="list-icon-main">
            <li>
              <a href="#"><i class="fas fa-search"></i></a>
            </li>
            <li>
              <a href="#"><i class="fas fa-paperclip"></i></a>
            </li>
            <li>
              <a href="#"><i class="fas fa-ellipsis-v"></i></a>
            </li>
          </ul>
        </div>

        <!-- Center-main -->
        <div class="center">

          <div
            v-for="(message,index) in contacts[indexUser].messages"
            class="status-message"
            :class="message.status == 'sent' ? 'send-msg' : 'received-msg'"
          >
          <div :class="message.status == 'sent' ? 'sent' : 'received'">
              <p>{{ message.message }}</p>
              <small>{{ message.date }}</small>
              <i @click= "deleteText(index)"
                 class="fas fa-chevron-down">
              </i>
          </div>
          </div>
        </div>

        <!-- Bottom-main -->
        <div class="bottom">
          <div class="chat-footer">
              <a href="#"><i class="far fa-smile"></i></a>
            <input type="text"
                   v-model="newChat"
                   @keyup.enter="insertNewChat"
                   placeholder="Cerca o inizia una nuova chat"
            >
            <a href="#"><i class="fas fa-microphone"></i></a>
          </div>
        </div>
      </main>

  </div>

    <!--dayjs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.6/dayjs.min.js">
    </script>
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- Js -->
    <script  src="js/main.js"></script>

</body>
</html>
